body {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.help {
    border: solid darkred;
    color: white;
    display: table;
    padding: 7px 15px;
    border-radius: 50px;
    font-size: 1em;
    margin-top: 10px;
    background-color: #990099;
}

.help:hover {
  background-color: #996699;
  cursor: pointer;
}

.button {
  margin: 4px 0;
}

.campus-assign {
  margin-bottom: 2em;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
